body {  
    /* Estilos generales para el cuerpo de la página */  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    background-color: #121212;  
    color: #e0e0e0;  
    position: relative;  
}  

h1 {  
    /* Estilos para el encabezado principal */  
    font-size: 3em;  
    font-weight: bold;  
    text-align: center;  
    margin-top: 30px;  
    color: #ffffff;  
}  

.background-images {  
    /* Estilos para la sección de imágenes de fondo */  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    z-index: -1;  
}  

.background-images img {  
    /* Estilos para las imágenes dentro de la sección de fondo */  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    transition: opacity 1s ease-in-out;  
}  

form {  
    /* Estilos para el formulario */  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    gap: 15px;  
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.8);  
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
    width: 100%;  
    max-width: 600px;  
    margin: 30px auto;  
    transform: translateY(20%);  
}  

label {  
    /* Estilos para las etiquetas del formulario */  
    font-weight: bold;  
    margin-bottom: 5px;  
    color: #ffffff;  
}  

input, select {  
    /* Estilos para campos de entrada y selección */  
    padding: 10px;  
    border: 1px solid #555;  
    background-color: #222;  
    color: #e0e0e0;  
    border-radius: 5px;  
    width: calc(100% - 22px);  
}  

button {  
    /* Estilos para los botones */  
    padding: 10px;  
    font-size: 1em;  
    background-color: #FF5722;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
}  

button:hover {  
    /* Estilos para el botón al pasar el mouse */  
    background-color: #e64a19;  
}  

.grid {  
    /* Estilos para el contenedor de la cuadrícula */  
    display: grid;  
    grid-template-columns: repeat(4, 1fr);  
    padding: 20px;  
    gap: 50px;  
}  

.card {  
    /* Estilos para las tarjetas dentro de la cuadrícula */  
    border: 1px solid #333;  
    border-radius: 16px;  
    overflow: hidden;  
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);  
    background-color: #1e1e1e;  
    text-align: center;  
    transition: transform 0.2s, box-shadow 0.2s;  
    padding: 15px;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;  
    height: 100%;  
    min-height: 400px;  
}  

.card img {  
    /* Estilos para las imágenes dentro de las tarjetas */  
    width: 100%;  
    height: auto;  
    max-height: 200px;  
    object-fit: cover;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}
.card h3 {  
    /* Estilos para los encabezados dentro de las tarjetas */  
    font-size: 1.8em;  
    margin: 10px 0;  
    color: #ffffff;  
}  

.card p, .card .date {  
    /* Estilos para los párrafos y fechas dentro de las tarjetas */  
    margin: 5px 0;  
    font-size: 1.2em;  
    color: #e0e0e0;  
}  

.card:hover {  
    /* Efectos al pasar el mouse sobre las tarjetas */  
    transform: translateY(-5px) scale(1.05);  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);  
}  

.ver-mas {  
    /* Estilos para el botón "Ver más" */  
    background-color: #FF5722;  
    padding: 10px;  
    font-size: 1em;  
    margin-top: auto;  
    width: 100%;  
    text-align: center;  
    text-decoration: none;  
    color: white;  
    border-radius: 5px;  
    transition: background-color 0.3s ease;  
}  

.ver-mas:hover {  
    /* Efecto al pasar el mouse sobre el botón "Ver más" */  
    background-color: #e64a19;  
}  

.modal {  
    /* Estilos para la ventana modal */  
    display: none;  
    position: fixed;  
    z-index: 1000;  
    left: 0;  
    top: 0;  
    width: 100%;  
    height: 100%;  
    overflow-y: auto;  
    background-color: rgba(0, 0, 0, 0.7);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}  

.modal-content {  
    /* Estilos para el contenido de la ventana modal */  
    background-color: #1e1e1e;  
    margin: auto;  
    padding: 20px;  
    border-radius: 10px;  
    max-width: 90%;  
    width: 500px;  
    position: relative;  
    top: 40%;  
    transform: translateY(-35%);  
    max-height: 80%;  
    overflow-y: auto;  
}  

.modal-content img {  
    /* Estilos para las imágenes dentro de la ventana modal */  
    width: 100%;  
    height: auto;  
    display: block;  
}  

.close-modal {  
    /* Estilos para el botón de cerrar la ventana modal */  
    position: absolute;  
    top: 10px;  
    right: 15px;  
    color: #ffffff;  
    font-size: 30px;  
    font-weight: bold;  
    cursor: pointer;  
}  

.close-modal:hover {  
    /* Efecto al pasar el mouse sobre el botón de cerrar */  
    color: #ff0000;  
}  

.pagination {  
    /* Estilos para la sección de paginación */  
    display: flex;  
    justify-content: center;  
    margin-top: 20px;  
}  
.btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FF5722; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Para eliminar el subrayado en los enlaces */
}

.btn:hover {
    background-color: #FF5722; /* Color de fondo al pasar el ratón */
}
.pagination button {  
    /* Estilos para los botones de paginación */  
    background-color: #FF5722;  
    color: white;  
    border: none;  
}